<div class="d-flex align-items-center justify-content-between gap-3 flex-wrap">
      <div>
            <h3 class="ct_fs_32 ct_ff_roboto ct_fw_600 mb-3">Fees List</h3>
            <ul class="d-flex align-items-center gap-3">
                  <li>
                        <h6 class="mb-0">Fees Management<i class="fa-solid fa-angle-right ms-2"></i>
                        </h6>
                  </li>
                  <li>
                        <h6 class="mb-0">Fees list<i class="fa-solid fa-angle-right ms-2"></i>
                        </h6>
                  </li>
            </ul>
            <!-- <p class="mb-0 ct_fw_600">Category List</p> -->
      </div>
</div>

<div class="table-responsive ct_mt_40">
      <div class="card ct_custom_table px-4">
            <p-table #dt [value]="feeData" dataKey="id" [rows]="10" [rowHover]="true"
                  [rowsPerPageOptions]="[10, 25, 50]" [loading]="loading" [paginator]="true"
                  [globalFilterFields]="['id', 'cat_name']" [tableStyle]="{ 'min-width': '75rem' }">
                  <ng-template pTemplate="caption">
                        <div class="flex w-25 ms-auto mb-3 mt-3">
                              <p-iconField iconPosition="right" class="ml-auto">
                                    <p-inputIcon>
                                          <i class="fa-solid fa-search ct_srch_top_center"></i>
                                    </p-inputIcon>
                                    <input pInputText type="text" class="form-control ct_input"
                                          (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                                          placeholder="Search keyword" />
                              </p-iconField>
                        </div>
                  </ng-template>
                  <ng-template pTemplate="header">
                        <tr>
                              <th style="width:10%" pSortableColumn="id">Offer Id <p-sortIcon field="id" /></th>
                              <th style="width:25%" pSortableColumn="title">Title/Sold on<p-sortIcon field="title" /></th>
                              <th style="width:25%" pSortableColumn="amount">Amount (CHF)<p-sortIcon field="amount" /></th>
                              <th style="width:25%" pSortableColumn="pay_amount">Pay Amount (CHF)<p-sortIcon field="pay_amount" /></th>
                              <th style="width:25%" pSortableColumn="fees_type">Fee Type<p-sortIcon field="fees_type" /></th>
                              <th style="width:25%" pSortableColumn="payment_id">Status <p-sortIcon field="payment_id" /></th>
                              <th style="width:25%" pSortableColumn="seller_name">Seller Name <p-sortIcon
                                          field="seller_name" /></th>
                              <th style="width:25%" pSortableColumn="payment_id">Payment Id <p-sortIcon field="payment_id" /></th>
                              <th style="width:25%" pSortableColumn="payment_type">Payment Type <p-sortIcon field="payment_type" /></th>
                              
                          <th style="width:25%" pSortableColumn="payment_date">Payment date<p-sortIcon
                                          field="payment_date" /></th>


                        </tr>

                  </ng-template>
                  <ng-template pTemplate="body" let-customer>
                        <tr>
                              <td>
                                    {{ customer.offer_unique_id }}
                              </td>

                              <td>
                                    {{ customer.title }} <br>{{customer.created_at | date : 'medium':'UTC'}}
                              </td>
                              <td>
                                    {{ customer.amount }}
                              </td>
                              <td>
                                    {{ customer.pay_amount }}
                              </td>
                              <td>
                                    {{ customer.fees_type == '1' ? 'Item sold' : 'Boosted' }}
                              </td>
                              <td>
                                    <span [ngClass]="customer.status == '1' ? 'Green': 'Red'">{{ customer.status == '1'
                                          ? 'Paid' : 'Pending'}}</span>
                              </td>
                              <td>
                                    <p class="ct_blue_text mb-0" title="See user details"
                                          (click)="service.redirectToUser(customer.seller_id)"> {{ customer.seller_name
                                          }}
                                    </p>
                              </td>
                            
                              <td>
                                    {{ customer.payment_id }}
                              </td>
                              <td>
                                    {{ customer.payment_type}}
                              </td>
                             
                        
                              <td>
                                    {{ customer.payment_date | date :'medium' :'UTC' }}
                              </td>
                        </tr>
                  </ng-template>
                  <ng-template pTemplate="emptymessage">
                        <tr>
                              <td colspan="5">No customers found.</td>
                        </tr>
                  </ng-template>
            </p-table>
      </div>
</div>