<div class="d-flex align-items-center justify-content-between gap-3 flex-wrap">
      <div>
            <h3 class="ct_fs_32 ct_ff_roboto ct_fw_600 mb-1">Order Management</h3>
            <ul class="d-flex align-items-center gap-3 p-2">

                  <li>
                        <h6 class="mb-0">Sold Offers<i class="fa-solid fa-angle-right ms-2"></i>
                        </h6>
                  </li>

            </ul>
      </div>
      <!-- <button class="ct_blue_btn" data-bs-toggle="modal" data-bs-target="#ct_add_offers">Add Items
            +</button> -->
</div>

<div class="table-responsive ct_mt_40">
      <div class="card ct_custom_table pt-4 px-3">
            <p-table #dt [value]="userOfferData" dataKey="id" [rows]="10" [rowHover]="true"
                  [rowsPerPageOptions]="[10, 25, 50]" [paginator]="true" [globalFilterFields]="['id', 'cat_name']"
                  [tableStyle]="{ 'min-width': '50rem','background-color': 'transparent', }">
                  <ng-template pTemplate="caption">
                        <div class="flex w-25 ms-auto mb-3 mt-3">
                              <p-iconField iconPosition="right" class="ml-auto">
                                    <p-inputIcon>
                                          <i class="fa-solid fa-search ct_srch_top_center"></i>
                                    </p-inputIcon>
                                    <input pInputText type="text" class="form-control ct_input"
                                          (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                                          placeholder="Search keyword" />
                              </p-iconField>
                        </div>
                  </ng-template>
                  <ng-template pTemplate="header">
                        <tr>

                              <th pSortableColumn="">Offer ID</th>
                              <th>Title</th>
                              <th>Buyer Status</th>
                              <th>Seller Status</th>
                              <th style="width:25%">Order Summary</th>

                        </tr>

                  </ng-template>
                  <ng-template pTemplate="body" let-customer let-i="rowIndex">
                        <tr>

                              <td class="ct_blue_text" title="See offer details" (click)="service.redirectToOffer(customer.offer_unique_id)">{{customer.offer_unique_id}}</td>
                              <td>{{customer.title}}</td>

                              @if(customer.buyer_status == '1'){
                              <td>
                                    <p class="ct_blue_text mb-0" title="See user details">{{customer.buyer_name}}</p>
                                    <div style="display: block;">To Pay</div>
                              </td>
                              }@else if (customer.buyer_status == '2') {
                              <td>
                                    <p class="ct_blue_text mb-0" title="See user details"> {{customer.buyer_name}} </p>

                                    <div style="display: block;">Delivery Open</div>
                              </td>
                              }@else if (customer.buyer_status == '3') {
                              <td>
                                    <p class="ct_blue_text mb-0" title="See user details"> {{customer.buyer_name}}</p>

                                    <div style="display: block;">To be evaluated</div>
                              </td>
                              }@else if (customer.buyer_status == '4') {
                              <td>
                                    <p class="ct_blue_text mb-0" title="See user details"> {{customer.buyer_name}}</p>

                                    <div style="display: block;">Completed</div>
                              </td>
                              }@else if (customer.buyer_status == '5') {
                              <td>
                                    <p class="ct_blue_text mb-0" title="See user details">{{customer.buyer_name}}</p>

                                    <div style="display: block;">Cancelled</div>
                              </td>
                              }

                              @if(customer.seller_status == '1'){
                              <td>{{customer.seller_name}}
                                    <div style="display: block;">Payment pending</div>
                              </td>
                              }@else if (customer.seller_status == '2') {
                              <td> {{customer.seller_name}}
                                    <div style="display: block;"> Handover pending</div>
                              </td>
                              }@else if (customer.seller_status == '3') {
                              <td>{{customer.seller_name}}
                                    <div style="display: block;">Pending evaluation</div>
                              </td>
                              }@else if (customer.seller_status == '4') {
                              <td>{{customer.seller_name}}
                                    <div style="display: block;">Completed</div>
                              </td>
                              }@else if (customer.seller_status == '5') {
                              <td>{{customer.seller_name}}
                                    <div style="display: block;">Cancelled</div>
                              </td>
                              }


                              <td><i class="fa fa-eye" aria-hidden="true" (click)="OpenSummaryModal(customer)"
                                          data-bs-toggle="modal" data-bs-target="#orderSummary"></i></td>



                        </tr>
                  </ng-template>
                  <ng-template pTemplate="emptymessage">
                        <tr>
                              <td colspan="5">No customers found.</td>
                        </tr>
                  </ng-template>
            </p-table>

      </div>


</div>


<div class="modal fade " id="ct_add_offers" tabindex="-1" aria-labelledby="ct_add_offersLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content  py-5">

                  <div class="modal-body py-0">
                        <div>
                              <h4 class="ct_fs_22 ct_fw_600 ct_ff_roboto mb-4 text-center"> Add User’s Offer</h4>

                              <form action="">
                                    <div class="row">
                                          <div class="col-md-6">
                                                <div class="form-group text-start mb-4">
                                                      <label for="" class="ct_ff_roboto mb-2 ct_fw_500">Seller
                                                            Name</label>
                                                      <input type="text" class="ct_input form-control ct_input_40"
                                                            placeholder="Enter Seller Name">
                                                </div>
                                          </div>
                                          <div class="col-md-6">
                                                <div class="form-group text-start mb-4">
                                                      <label for="" class="ct_ff_roboto mb-2 ct_fw_500">Title</label>
                                                      <input type="text" class="ct_input form-control ct_input_40"
                                                            placeholder="Enter Title">
                                                </div>
                                          </div>
                                          <div class="col-md-6">
                                                <div class="form-group text-start mb-4">
                                                      <label for="" class="ct_ff_roboto mb-2 ct_fw_500">Product</label>
                                                      <input type="text" class="ct_input form-control ct_input_40"
                                                            placeholder="Enter Product">
                                                </div>
                                          </div>
                                          <div class="col-md-6">
                                                <div class="form-group text-start mb-4">
                                                      <label for="" class="ct_ff_roboto mb-2 ct_fw_500">Category</label>
                                                      <input type="text" class="ct_input form-control ct_input_40"
                                                            placeholder="Enter Category">
                                                </div>
                                          </div>

                                          <div class="col-md-6">
                                                <div class="form-group text-start mb-4">
                                                      <label for="" class="ct_ff_roboto mb-2 ct_fw_500">Auction
                                                            Type</label>
                                                      <input type="email" class="ct_input form-control ct_input_40"
                                                            placeholder="Enter Auction Type">
                                                </div>
                                          </div>

                                          <div class="col-md-6">
                                                <div class="form-group text-start mb-4">
                                                      <label for="" class="ct_ff_roboto mb-2 ct_fw_500">Price</label>
                                                      <input type="number" class="ct_input form-control ct_input_40"
                                                            placeholder="Enter Price">
                                                </div>
                                          </div>

                                          <div class="col-md-6">
                                                <div class="form-group text-start mb-4">
                                                      <label for="" class="ct_ff_roboto mb-2 ct_fw_500">Start
                                                            Time</label>
                                                      <input type="time" class="ct_input form-control ct_input_40"
                                                            placeholder="Enter Phone">
                                                </div>
                                          </div>
                                          <div class="col-md-6">
                                                <div class="form-group text-start mb-4">
                                                      <label for="" class="ct_ff_roboto mb-2 ct_fw_500">End Time</label>
                                                      <input type="time" class="ct_input form-control ct_input_40"
                                                            placeholder="Enter Phone">
                                                </div>
                                          </div>




                                    </div>
                              </form>




                        </div>
                        <div class="d-flex align-items-center gap-3 pt-4">
                              <button type="button" class="ct_blue_btn ct_outline_btn_blue  w-50"
                                    data-bs-dismiss="modal">Cancel</button>
                              <button type="button" class="ct_blue_btn   w-50">Update</button>
                        </div>
                  </div>

            </div>
      </div>
</div>


<div class="modal fade " id="ct_edit_offer" tabindex="-1" aria-labelledby="ct_edit_offerLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content  py-5">
                  <!-- <div class="modal-header border-0">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div> -->
                  <div class="modal-body py-0">
                        <div>
                              <h4 class="ct_fs_22 ct_fw_600 ct_ff_roboto mb-4 text-center"> Edit User’s Offer</h4>

                              <form action="">
                                    <div class="row">
                                          <div class="col-md-6">
                                                <div class="form-group text-start mb-4">
                                                      <label for="" class="ct_ff_roboto mb-2 ct_fw_500">Seller
                                                            Name</label>
                                                      <input type="text" class="ct_input form-control ct_input_40"
                                                            placeholder="Enter Seller Name">
                                                </div>
                                          </div>
                                          <div class="col-md-6">
                                                <div class="form-group text-start mb-4">
                                                      <label for="" class="ct_ff_roboto mb-2 ct_fw_500">Title</label>
                                                      <input type="text" class="ct_input form-control ct_input_40"
                                                            placeholder="Enter Title">
                                                </div>
                                          </div>
                                          <div class="col-md-6">
                                                <div class="form-group text-start mb-4">
                                                      <label for="" class="ct_ff_roboto mb-2 ct_fw_500">Product</label>
                                                      <input type="text" class="ct_input form-control ct_input_40"
                                                            placeholder="Enter Product">
                                                </div>
                                          </div>
                                          <div class="col-md-6">
                                                <div class="form-group text-start mb-4">
                                                      <label for="" class="ct_ff_roboto mb-2 ct_fw_500">Category</label>
                                                      <input type="text" class="ct_input form-control ct_input_40"
                                                            placeholder="Enter Category">
                                                </div>
                                          </div>

                                          <div class="col-md-6">
                                                <div class="form-group text-start mb-4">
                                                      <label for="" class="ct_ff_roboto mb-2 ct_fw_500">Auction
                                                            Type</label>
                                                      <input type="email" class="ct_input form-control ct_input_40"
                                                            placeholder="Enter Auction Type">
                                                </div>
                                          </div>

                                          <div class="col-md-6">
                                                <div class="form-group text-start mb-4">
                                                      <label for="" class="ct_ff_roboto mb-2 ct_fw_500">Price</label>
                                                      <input type="number" class="ct_input form-control ct_input_40"
                                                            placeholder="Enter Price">
                                                </div>
                                          </div>

                                          <div class="col-md-6">
                                                <div class="form-group text-start mb-4">
                                                      <label for="" class="ct_ff_roboto mb-2 ct_fw_500">Start
                                                            Time</label>
                                                      <input type="time" class="ct_input form-control ct_input_40"
                                                            placeholder="Enter Phone">
                                                </div>
                                          </div>
                                          <div class="col-md-6">
                                                <div class="form-group text-start mb-4">
                                                      <label for="" class="ct_ff_roboto mb-2 ct_fw_500">End Time</label>
                                                      <input type="time" class="ct_input form-control ct_input_40"
                                                            placeholder="Enter Phone">
                                                </div>
                                          </div>




                                    </div>
                              </form>




                        </div>
                        <div class="d-flex align-items-center gap-3 pt-4">
                              <button type="button" class="ct_blue_btn ct_outline_btn_blue  w-50"
                                    data-bs-dismiss="modal">Cancel</button>
                              <button type="button" class="ct_blue_btn   w-50">Update</button>
                        </div>
                  </div>


            </div>
      </div>
</div>


<div class="modal fade " id="orderSummary" tabindex="-1" aria-labelledby="ct_edit_offerLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content  py-5">
                  <!-- <div class="modal-header border-0">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div> -->
                  <div class="modal-body py-0">
                        <div class="row">
                              @if(orderSummary){
                              <div class="col-lg-7 mb-4 mb-lg-0">
                                    <div class="ct_purchase_order_status ">
                                          <ul>
                                                @for (item of orderSummary.resultOrderSummary; track $index) {
                                                @if(item.buyer_message == 'null'){
                                                <li>
                                                      <img src="assets/img/received_arrow_2.png" alt="">
                                                      <div>
                                                            <p class="ct_fc_ct_fc_757575 mb-1">{{item.seller_created_at
                                                                  |
                                                                  date:'medium':'UTC'}}</p>
                                                            <p class="ct_fc_ct_fc_757575 mb-1 ct_fw_500"
                                                                  *ngIf="item.seller_message =='The seller has received the payment'">
                                                                  payment </p>
                                                            <p class="ct_fc_ct_fc_757575 mb-1 ct_fw_500"
                                                                  *ngIf="item.seller_message =='The seller has shipped the item'">
                                                                  pickup
                                                            </p>
                                                            <p class=" mb-0">
                                                                  {{item.seller_message}} </p>
                                                      </div>
                                                </li>
                                                }@else {
                                                <li>
                                                      <img src="assets/img/received_arrow_2.png" alt="">
                                                      <div>
                                                            <p class="ct_fc_ct_fc_757575 mb-1">{{item.buyer_created_at |
                                                                  date:'medium':'UTC'}}</p>
                                                            <p class="ct_fc_ct_fc_757575 mb-1 ct_fw_500"
                                                                  *ngIf="item.buyer_message =='The Buyer has paid'">
                                                                  payment </p>
                                                            <p class="ct_fc_ct_fc_757575 mb-1 ct_fw_500"
                                                                  *ngIf="item.buyer_message =='The Buyer has received the item'">
                                                                  pickup
                                                            </p>
                                                            <p class="ct_fc_ct_fc_757575 mb-1 ct_fw_500"
                                                                  *ngIf="item.buyer_message =='Congratulations, you have purchased this item!'">
                                                                  item purchased </p>
                                                            <p class=" mb-0">
                                                                  {{item.buyer_message}} </p>
                                                      </div>
                                                </li>

                                                }

                                                }
                                          </ul>
                                    </div>


                              </div>
                              <div class="col-lg-5 mb-4 mb-lg-0">
                                    <div class=" ct_black_border_1 px-0 mt-0">
                                          <h4 class="px-4 ct_fw_600 mb-4 ct_fs_21">Purchase overview</h4>
                                          <div>
                                                <div class="px-4 d-flex gap-3 mb-3">
                                                      <i class="bi bi-tags ct_fc_ct_fc_757575 ct_fs_21"></i>
                                                      <div>
                                                            <div class="">
                                                                  <p class="mb-0 ct_text_op_8">Price</p>
                                                            </div>
                                                            <div
                                                                  class="d-flex gap-3 align-items-center justify-content-between">
                                                                  <p class="mb-0 ct_blue_text" >{{orderSummary.result[0].title}}</p>
                                                                  <div class="d-flex align-items-center gap-1">
                                                                        <p class="mb-0"><span class="me-1"></span>
                                                                              {{orderSummary.result[0].amount}}
                                                                        </p>
                                                                  </div>
                                                            </div>
                                                            <div
                                                                  class="d-flex gap-3 align-items-center justify-content-between">
                                                                  <p class="mb-0">Parcel a-post</p>
                                                                  <div class="d-flex align-items-center gap-1">
                                                                        <p class="mb-0 ct_fw_500">-</p>
                                                                  </div>
                                                            </div>
                                                            <div
                                                                  class="d-flex gap-3 align-items-center justify-content-between">
                                                                  <p class="mb-0 ct_fw_600">Total price</p>
                                                                  <div class="d-flex align-items-center gap-1">
                                                                        <p class="mb-0 ct_fw_600">
                                                                              {{orderSummary.result[0].amount}}</p>
                                                                  </div>
                                                            </div>
                                                      </div>
                                                </div>
                                                <div class="px-4 d-flex gap-3 mb-3">
                                                      <i class="bi bi-box-seam ct_fc_ct_fc_757575 ct_fs_21"></i>
                                                      <div>
                                                            <div class="">
                                                                  <p class="mb-0 ct_text_op_8">Delivery type</p>
                                                            </div>
                                                            <div class="d-flex align-items-center">
                                                                  <p class="mb-0 ct_fw_600">Parcel B-Post</p>
                                                            </div>
                                                      </div>
                                                </div>
                                                <div class="px-4 d-flex gap-3 mb-3">
                                                      <i class="bi bi-geo-alt ct_fc_ct_fc_757575 ct_fs_21"></i>
                                                      <div>
                                                            <div class="">
                                                                  <p class="mb-0 ct_text_op_8">Delivery address</p>
                                                            </div>
                                                            <div class="">
                                                                  <p class="mb-0 ct_fw_600">
                                                                        {{orderSummary.result[0].buyer_name}}</p>
                                                                  <p class="mb-0">{{orderSummary.result[0].address}}</p>


                                                            </div>
                                                      </div>
                                                </div>
                                                <div class="px-4 d-flex gap-3 mb-3">
                                                      <i class="bi bi-person ct_fc_ct_fc_757575 ct_fs_21"></i>
                                                      <div>
                                                            <div class="">
                                                                  <p class="mb-0 ct_text_op_8">Sold by</p>
                                                            </div>
                                                            <div class="">
                                                                  <p class="mb-0 ct_fw_600">
                                                                        {{orderSummary.result[0].seller_name}}</p>
                                                                  <p class="mb-0 ct_blue_text ct_fw_600">mina_d</p>
                                                                  <p class="mb-0 ct_blue_text ct_fw_600">
                                                                        {{orderSummary.result[0].seller_email}}
                                                                  </p>
                                                                  <p class="mb-0">
                                                                        {{orderSummary.result[0].seller_number}}</p>

                                                            </div>
                                                      </div>
                                                </div>
                                                <div class="px-4 d-flex gap-3 mb-3">
                                                      <i class="bi bi-person ct_fc_ct_fc_757575 ct_fs_21"></i>
                                                      <div>
                                                            <div class="">
                                                                  <p class="mb-0 ct_text_op_8">Purchase</p>
                                                            </div>
                                                            <div class="">
                                                                
                                                                  
                                                                  <p class="mb-0 ct_fs_14">Transaction:
                                                                        {{orderSummary.result[0].transaction_id}}</p>
                                                                  <p class="mb-0" ct_fs_14>Offer Id:
                                                                        <span>{{orderSummary.result[0].offer_unique_id}}</span>
                                                                  </p>

                                                            </div>
                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                              }

                        </div>

                        <div class="d-flex align-items-center gap-3 pt-4">
                              <button type="button" class="ct_blue_btn ct_outline_btn_blue  w-50"
                                    data-bs-dismiss="modal">Cancel</button>
                              <button type="button" class="ct_blue_btn   w-50">Update</button>
                        </div>
                  </div>


            </div>
      </div>
</div>