<div class="ct_right_header">
    <div class="ct_right_header_left">
          <div class="ct_toggle_bar">
                <i class="fa-solid fa-bars"></i>
          </div>
    </div>
    <div class="ct_right_header_right">
          <div class="ct_user_profile_head">
                <a href="profile.html">
                      <div>
                            <h6 class="ct_fs_14 ct_fw_700 mb-0 ct_ff_roboto mb-0">Hello, Samantha</h6>
                      </div>
                      <img src="assets/img/user_profile.png" alt="" class="ct_img_44">
                </a>
          </div>
          <div>
                <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#ct_logout_modal">
                      <img src="assets/img/logout_icon.svg" alt="">
                </a>
          </div>
    </div>
</div>