<div class="ct_white_bg ct_mt_28">
      <div class=" px-xxl-4">
            <div class="d-flex align-items-center justify-content-between gap-2 mb-4 flex-wrap">
                  <h4 class="ct_fs_22 ct_ff_roboto ct_fw_600">Messages</h4>
            </div>

            <section class="message-area">
                  <div class="chat-area row">
                        <!-- chatlist -->
                        <div class=" col-xl-3">


                              <div class="chatlist">
                                    <div class="modal-dialog-scrollable">
                                          <div class="modal-content">
                                                <div class="chat-header">
                                                      <div class="msg-search">
                                                            <input type="text" class="form-control"
                                                                  id="inlineFormInputGroup" placeholder="Search"
                                                                  aria-label="search">
                                                            <i
                                                                  class="fa-solid fa-magnifying-glass ct_search_icon_top"></i>
                                                      </div>
                                                </div>

                                                <div class="modal-body mt-4">
                                                      <!-- chat-list -->
                                                      <div class="chat-lists">
                                                            <div class="chat-list">
                                                                  <a href="#" class="ct_chat_user ct_user_active">
                                                                        <div
                                                                              class="flex-shrink-0 position-relative ct_img_44">
                                                                              <img class="ct_img_44"
                                                                                    src="assets/img/user_1.png"
                                                                                    alt="user img">
                                                                              <span class="active"></span>
                                                                        </div>
                                                                        <div class="flex-grow-1">
                                                                              <h3
                                                                                    class="mb-0 ct_fs_14 ct_fw_600 ct_ff_roboto">
                                                                                    Ms. Lynda Bradtke
                                                                              </h3>
                                                                              <p class="mb-0 ct_fs_12 ct_ff_roboto">
                                                                                    Pesquisar chat</p>
                                                                        </div>
                                                                        <div class="ct_mesg_num_1 ms-auto">
                                                                              <span>1</span>
                                                                        </div>
                                                                  </a>
                                                                  <a href="#" class="ct_chat_user">
                                                                        <div
                                                                              class="flex-shrink-0 position-relative ct_img_44">
                                                                              <img class="ct_img_44"
                                                                                    src="assets/img/user_1.png"
                                                                                    alt="user img">
                                                                        </div>
                                                                        <div class="flex-grow-1">
                                                                              <h3
                                                                                    class="mb-0 ct_fs_14 ct_fw_600 ct_ff_roboto">
                                                                                    Ms. Lynda Bradtke
                                                                              </h3>
                                                                              <p class="mb-0 ct_fs_12 ct_ff_roboto">
                                                                                    Pesquisar chat</p>

                                                                        </div>
                                                                  </a>
                                                                  <a href="#" class="ct_chat_user">
                                                                        <div
                                                                              class="flex-shrink-0 position-relative ct_img_44">
                                                                              <img class="ct_img_44"
                                                                                    src="assets/img/user_1.png"
                                                                                    alt="user img">
                                                                        </div>
                                                                        <div class="flex-grow-1">
                                                                              <h3
                                                                                    class="mb-0 ct_fs_14 ct_fw_600 ct_ff_roboto">
                                                                                    Ms. Lynda Bradtke
                                                                              </h3>
                                                                              <p class="mb-0 ct_fs_12 ct_ff_roboto">
                                                                                    Pesquisar chat</p>

                                                                        </div>
                                                                  </a>
                                                                  <a href="#" class="ct_chat_user">
                                                                        <div
                                                                              class="flex-shrink-0 position-relative ct_img_44">
                                                                              <img class="ct_img_44"
                                                                                    src="assets/img/user_1.png"
                                                                                    alt="user img">
                                                                        </div>
                                                                        <div class="flex-grow-1">
                                                                              <h3
                                                                                    class="mb-0 ct_fs_14 ct_fw_600 ct_ff_roboto">
                                                                                    Ms. Lynda Bradtke
                                                                              </h3>
                                                                              <p class="mb-0 ct_fs_12 ct_ff_roboto">
                                                                                    Pesquisar chat</p>

                                                                        </div>
                                                                  </a>
                                                                  <a href="#" class="ct_chat_user">
                                                                        <div
                                                                              class="flex-shrink-0 position-relative ct_img_44">
                                                                              <img class="ct_img_44"
                                                                                    src="assets/img/user_1.png"
                                                                                    alt="user img">
                                                                        </div>
                                                                        <div class="flex-grow-1">
                                                                              <h3
                                                                                    class="mb-0 ct_fs_14 ct_fw_600 ct_ff_roboto">
                                                                                    Ms. Lynda Bradtke
                                                                              </h3>
                                                                              <p class="mb-0 ct_fs_12 ct_ff_roboto">
                                                                                    Pesquisar chat</p>

                                                                        </div>
                                                                  </a>
                                                                  <a href="#" class="ct_chat_user">
                                                                        <div
                                                                              class="flex-shrink-0 position-relative ct_img_44">
                                                                              <img class="ct_img_44"
                                                                                    src="assets/img/user_1.png"
                                                                                    alt="user img">
                                                                        </div>
                                                                        <div class="flex-grow-1">
                                                                              <h3
                                                                                    class="mb-0 ct_fs_14 ct_fw_600 ct_ff_roboto">
                                                                                    Ms. Lynda Bradtke
                                                                              </h3>
                                                                              <p class="mb-0 ct_fs_12 ct_ff_roboto">
                                                                                    Pesquisar chat</p>

                                                                        </div>
                                                                  </a>
                                                                  <a href="#" class="ct_chat_user">
                                                                        <div
                                                                              class="flex-shrink-0 position-relative ct_img_44">
                                                                              <img class="ct_img_44"
                                                                                    src="assets/img/user_1.png"
                                                                                    alt="user img">
                                                                        </div>
                                                                        <div class="flex-grow-1">
                                                                              <h3
                                                                                    class="mb-0 ct_fs_14 ct_fw_600 ct_ff_roboto">
                                                                                    Ms. Lynda Bradtke
                                                                              </h3>
                                                                              <p class="mb-0 ct_fs_12 ct_ff_roboto">
                                                                                    Pesquisar chat</p>

                                                                        </div>
                                                                  </a>
                                                                  <a href="#" class="ct_chat_user">
                                                                        <div
                                                                              class="flex-shrink-0 position-relative ct_img_44">
                                                                              <img class="ct_img_44"
                                                                                    src="assets/img/user_1.png"
                                                                                    alt="user img">
                                                                        </div>
                                                                        <div class="flex-grow-1">
                                                                              <h3
                                                                                    class="mb-0 ct_fs_14 ct_fw_600 ct_ff_roboto">
                                                                                    Ms. Lynda Bradtke
                                                                              </h3>
                                                                              <p class="mb-0 ct_fs_12 ct_ff_roboto">
                                                                                    Pesquisar chat</p>

                                                                        </div>
                                                                  </a>
                                                                  <a href="#" class="ct_chat_user">
                                                                        <div
                                                                              class="flex-shrink-0 position-relative ct_img_44">
                                                                              <img class="ct_img_44"
                                                                                    src="assets/img/user_1.png"
                                                                                    alt="user img">
                                                                        </div>
                                                                        <div class="flex-grow-1">
                                                                              <h3
                                                                                    class="mb-0 ct_fs_14 ct_fw_600 ct_ff_roboto">
                                                                                    Ms. Lynda Bradtke
                                                                              </h3>
                                                                              <p class="mb-0 ct_fs_12 ct_ff_roboto">
                                                                                    Pesquisar chat</p>

                                                                        </div>
                                                                  </a>
                                                                  <a href="#" class="ct_chat_user">
                                                                        <div
                                                                              class="flex-shrink-0 position-relative ct_img_44">
                                                                              <img class="ct_img_44"
                                                                                    src="assets/img/user_1.png"
                                                                                    alt="user img">
                                                                        </div>
                                                                        <div class="flex-grow-1">
                                                                              <h3
                                                                                    class="mb-0 ct_fs_14 ct_fw_600 ct_ff_roboto">
                                                                                    Ms. Lynda Bradtke
                                                                              </h3>
                                                                              <p class="mb-0 ct_fs_12 ct_ff_roboto">
                                                                                    Pesquisar chat</p>

                                                                        </div>
                                                                  </a>
                                                                  <a href="#" class="ct_chat_user">
                                                                        <div
                                                                              class="flex-shrink-0 position-relative ct_img_44">
                                                                              <img class="ct_img_44"
                                                                                    src="assets/img/user_1.png"
                                                                                    alt="user img">
                                                                        </div>
                                                                        <div class="flex-grow-1">
                                                                              <h3
                                                                                    class="mb-0 ct_fs_14 ct_fw_600 ct_ff_roboto">
                                                                                    Ms. Lynda Bradtke
                                                                              </h3>
                                                                              <p class="mb-0 ct_fs_12 ct_ff_roboto">
                                                                                    Pesquisar chat</p>

                                                                        </div>
                                                                  </a>
                                                                  <a href="#" class="ct_chat_user">
                                                                        <div
                                                                              class="flex-shrink-0 position-relative ct_img_44">
                                                                              <img class="ct_img_44"
                                                                                    src="assets/img/user_1.png"
                                                                                    alt="user img">
                                                                        </div>
                                                                        <div class="flex-grow-1">
                                                                              <h3
                                                                                    class="mb-0 ct_fs_14 ct_fw_600 ct_ff_roboto">
                                                                                    Ms. Lynda Bradtke
                                                                              </h3>
                                                                              <p class="mb-0 ct_fs_12 ct_ff_roboto">
                                                                                    Pesquisar chat</p>

                                                                        </div>
                                                                  </a>
                                                                  <a href="#" class="ct_chat_user">
                                                                        <div
                                                                              class="flex-shrink-0 position-relative ct_img_44">
                                                                              <img class="ct_img_44"
                                                                                    src="assets/img/user_1.png"
                                                                                    alt="user img">
                                                                        </div>
                                                                        <div class="flex-grow-1">
                                                                              <h3
                                                                                    class="mb-0 ct_fs_14 ct_fw_600 ct_ff_roboto">
                                                                                    Ms. Lynda Bradtke
                                                                              </h3>
                                                                              <p class="mb-0 ct_fs_12 ct_ff_roboto">
                                                                                    Pesquisar chat</p>

                                                                        </div>
                                                                  </a>

                                                            </div>

                                                      </div>
                                                      <!-- chat-list -->
                                                </div>
                                          </div>
                                    </div>
                              </div>
                        </div>
                        <!-- chatlist -->


                        <div class=" col-xl-9">
                              <!-- chatbox -->
                              <div class="chatbox ">
                                    <div class="modal-dialog-scrollable">
                                          <div class="modal-content">
                                                <div class="msg-head">
                                                      <div class="row">
                                                            <div class="col-8">
                                                                  <div class="d-flex align-items-center">
                                                                        <span class="chat-icon"><i
                                                                                    class="fa-solid fa-chevron-left"></i></span>
                                                                        <div class="flex-shrink-0">
                                                                              <img class="img-fluid"
                                                                                    src="assets/img/user_1.png"
                                                                                    alt="user img">
                                                                        </div>
                                                                        <div class="flex-grow-1 ms-3">
                                                                              <h3
                                                                                    class="mb-0 ct_fs_16 ct_ff_roboto ct_fw_600">
                                                                                    Mehedi Hasan</h3>
                                                                              <p class="mb-0 ct_fs_12 ct_ff_roboto">
                                                                                    Pesquisar chat</p>

                                                                        </div>
                                                                  </div>
                                                            </div>
                                                            <div class="col-4">
                                                                  <ul class="moreoption">
                                                                        <li class="navbar nav-item dropdown">
                                                                              <a class="nav-link dropdown-toggle"
                                                                                    href="#" role="button"
                                                                                    data-bs-toggle="dropdown"
                                                                                    aria-expanded="false"><i
                                                                                          class="fa fa-ellipsis-v"
                                                                                          aria-hidden="true"></i></a>
                                                                              <ul class="dropdown-menu">
                                                                                    <li><a class="dropdown-item"
                                                                                                href="#">Delete
                                                                                                Chat</a>
                                                                                    </li>
                                                                              </ul>
                                                                        </li>
                                                                  </ul>
                                                            </div>
                                                      </div>
                                                </div>


                                                <div class="modal-body">
                                                      <div class="msg-body">
                                                            <ul>
                                                                  <li class="sender">
                                                                        <img src="assets/img/user_profile.png" alt=""
                                                                              class="ct_img_30">
                                                                        <div>
                                                                              <p>Lorem Ipsum has been
                                                                                    the industry's
                                                                                    standard dummy
                                                                                    text ever since
                                                                                    the 1500s, </p>
                                                                              <span class="time">10:06
                                                                                    am</span>
                                                                        </div>
                                                                  </li>
                                                                  <li class="repaly">
                                                                        <div>
                                                                              <p>Lorem Ipsum has been
                                                                                    the industry's
                                                                                    standard dummy
                                                                                    text ever since
                                                                                    the 1500s,</p>
                                                                              <span class="time">10:20
                                                                                    am</span>
                                                                        </div>
                                                                        <img src="assets/img/user_profile.png" alt=""
                                                                              class="ct_img_30">
                                                                  </li>
                                                                  <li class="sender">
                                                                        <img src="assets/img/user_profile.png" alt=""
                                                                              class="ct_img_30">
                                                                        <div>
                                                                              <p>Lorem Ipsum has been
                                                                                    the industry's
                                                                                    standard dummy
                                                                                    text ever since
                                                                                    the 1500s, </p>
                                                                              <span class="time">10:06
                                                                                    am</span>
                                                                        </div>
                                                                  </li>
                                                                  <li class="repaly">
                                                                        <div>
                                                                              <p>Lorem Ipsum has been
                                                                                    the industry's
                                                                                    standard dummy
                                                                                    text ever since
                                                                                    the 1500s,</p>
                                                                              <span class="time">10:20
                                                                                    am</span>
                                                                        </div>
                                                                        <img src="assets/img/user_profile.png" alt=""
                                                                              class="ct_img_30">
                                                                  </li>
                                                                  <li>
                                                                        <div class="divider">
                                                                              <h6>Today</h6>
                                                                        </div>
                                                                  </li>

                                                                  <li class="repaly">
                                                                        <div>
                                                                              <p>Lorem Ipsum has been
                                                                                    the industry's
                                                                                    standard dummy
                                                                                    text ever since
                                                                                    the 1500s,</p>
                                                                              <span class="time">10:20
                                                                                    am</span>
                                                                        </div>
                                                                        <img src="assets/img/user_profile.png" alt=""
                                                                              class="ct_img_30">
                                                                  </li>
                                                                  <li class="repaly">
                                                                        <div>
                                                                              <p>Lorem Ipsum has been
                                                                                    the industry's
                                                                                    standard dummy
                                                                                    text ever since
                                                                                    the 1500s,</p>
                                                                              <span class="time">10:20
                                                                                    am</span>
                                                                        </div>
                                                                        <img src="assets/img/user_profile.png" alt=""
                                                                              class="ct_img_30">
                                                                  </li>

                                                            </ul>
                                                      </div>
                                                </div>


                                                <div class="send-box">
                                                      <form action="" class="position-relative">
                                                            <input type="text"
                                                                  class="form-control ct_text_indent_15 w-100"
                                                                  aria-label="message…" placeholder="Type message">
                                                            <div class="d-flex align-items-center ct_send_btn_position">
                                                                  <div class="send-btns">
                                                                        <div class="attach">
                                                                              <div class="button-wrapper">
                                                                                    <span class="label">
                                                                                          <i
                                                                                                class="fa-solid fa-link"></i>
                                                                                    </span><input type="file"
                                                                                          name="upload" id="upload"
                                                                                          class="upload-box"
                                                                                          placeholder="Upload File"
                                                                                          aria-label="Upload File">
                                                                              </div>
                                                                        </div>
                                                                  </div>
                                                                  <button type="button"><i class="fa fa-paper-plane"
                                                                              aria-hidden="true"></i></button>
                                                            </div>
                                                      </form>



                                                </div>
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>
            </section>
      </div>
</div>

<div class="ct_loader_main">
      <div class="loader">
            <div>
                  <ul>
                        <li>
                              <svg fill="currentColor" viewBox="0 0 90 120">
                                    <path
                                          d="M90,0 L90,120 L11,120 C4.92486775,120 0,115.075132 0,109 L0,11 C0,4.92486775 4.92486775,0 11,0 L90,0 Z M71.5,81 L18.5,81 C17.1192881,81 16,82.1192881 16,83.5 C16,84.8254834 17.0315359,85.9100387 18.3356243,85.9946823 L18.5,86 L71.5,86 C72.8807119,86 74,84.8807119 74,83.5 C74,82.1745166 72.9684641,81.0899613 71.6643757,81.0053177 L71.5,81 Z M71.5,57 L18.5,57 C17.1192881,57 16,58.1192881 16,59.5 C16,60.8254834 17.0315359,61.9100387 18.3356243,61.9946823 L18.5,62 L71.5,62 C72.8807119,62 74,60.8807119 74,59.5 C74,58.1192881 72.8807119,57 71.5,57 Z M71.5,33 L18.5,33 C17.1192881,33 16,34.1192881 16,35.5 C16,36.8254834 17.0315359,37.9100387 18.3356243,37.9946823 L18.5,38 L71.5,38 C72.8807119,38 74,36.8807119 74,35.5 C74,34.1192881 72.8807119,33 71.5,33 Z">
                                    </path>
                              </svg>
                        </li>
                        <li>
                              <svg fill="currentColor" viewBox="0 0 90 120">
                                    <path
                                          d="M90,0 L90,120 L11,120 C4.92486775,120 0,115.075132 0,109 L0,11 C0,4.92486775 4.92486775,0 11,0 L90,0 Z M71.5,81 L18.5,81 C17.1192881,81 16,82.1192881 16,83.5 C16,84.8254834 17.0315359,85.9100387 18.3356243,85.9946823 L18.5,86 L71.5,86 C72.8807119,86 74,84.8807119 74,83.5 C74,82.1745166 72.9684641,81.0899613 71.6643757,81.0053177 L71.5,81 Z M71.5,57 L18.5,57 C17.1192881,57 16,58.1192881 16,59.5 C16,60.8254834 17.0315359,61.9100387 18.3356243,61.9946823 L18.5,62 L71.5,62 C72.8807119,62 74,60.8807119 74,59.5 C74,58.1192881 72.8807119,57 71.5,57 Z M71.5,33 L18.5,33 C17.1192881,33 16,34.1192881 16,35.5 C16,36.8254834 17.0315359,37.9100387 18.3356243,37.9946823 L18.5,38 L71.5,38 C72.8807119,38 74,36.8807119 74,35.5 C74,34.1192881 72.8807119,33 71.5,33 Z">
                                    </path>
                              </svg>
                        </li>
                        <li>
                              <svg fill="currentColor" viewBox="0 0 90 120">
                                    <path
                                          d="M90,0 L90,120 L11,120 C4.92486775,120 0,115.075132 0,109 L0,11 C0,4.92486775 4.92486775,0 11,0 L90,0 Z M71.5,81 L18.5,81 C17.1192881,81 16,82.1192881 16,83.5 C16,84.8254834 17.0315359,85.9100387 18.3356243,85.9946823 L18.5,86 L71.5,86 C72.8807119,86 74,84.8807119 74,83.5 C74,82.1745166 72.9684641,81.0899613 71.6643757,81.0053177 L71.5,81 Z M71.5,57 L18.5,57 C17.1192881,57 16,58.1192881 16,59.5 C16,60.8254834 17.0315359,61.9100387 18.3356243,61.9946823 L18.5,62 L71.5,62 C72.8807119,62 74,60.8807119 74,59.5 C74,58.1192881 72.8807119,57 71.5,57 Z M71.5,33 L18.5,33 C17.1192881,33 16,34.1192881 16,35.5 C16,36.8254834 17.0315359,37.9100387 18.3356243,37.9946823 L18.5,38 L71.5,38 C72.8807119,38 74,36.8807119 74,35.5 C74,34.1192881 72.8807119,33 71.5,33 Z">
                                    </path>
                              </svg>
                        </li>
                        <li>
                              <svg fill="currentColor" viewBox="0 0 90 120">
                                    <path
                                          d="M90,0 L90,120 L11,120 C4.92486775,120 0,115.075132 0,109 L0,11 C0,4.92486775 4.92486775,0 11,0 L90,0 Z M71.5,81 L18.5,81 C17.1192881,81 16,82.1192881 16,83.5 C16,84.8254834 17.0315359,85.9100387 18.3356243,85.9946823 L18.5,86 L71.5,86 C72.8807119,86 74,84.8807119 74,83.5 C74,82.1745166 72.9684641,81.0899613 71.6643757,81.0053177 L71.5,81 Z M71.5,57 L18.5,57 C17.1192881,57 16,58.1192881 16,59.5 C16,60.8254834 17.0315359,61.9100387 18.3356243,61.9946823 L18.5,62 L71.5,62 C72.8807119,62 74,60.8807119 74,59.5 C74,58.1192881 72.8807119,57 71.5,57 Z M71.5,33 L18.5,33 C17.1192881,33 16,34.1192881 16,35.5 C16,36.8254834 17.0315359,37.9100387 18.3356243,37.9946823 L18.5,38 L71.5,38 C72.8807119,38 74,36.8807119 74,35.5 C74,34.1192881 72.8807119,33 71.5,33 Z">
                                    </path>
                              </svg>
                        </li>
                        <li>
                              <svg fill="currentColor" viewBox="0 0 90 120">
                                    <path
                                          d="M90,0 L90,120 L11,120 C4.92486775,120 0,115.075132 0,109 L0,11 C0,4.92486775 4.92486775,0 11,0 L90,0 Z M71.5,81 L18.5,81 C17.1192881,81 16,82.1192881 16,83.5 C16,84.8254834 17.0315359,85.9100387 18.3356243,85.9946823 L18.5,86 L71.5,86 C72.8807119,86 74,84.8807119 74,83.5 C74,82.1745166 72.9684641,81.0899613 71.6643757,81.0053177 L71.5,81 Z M71.5,57 L18.5,57 C17.1192881,57 16,58.1192881 16,59.5 C16,60.8254834 17.0315359,61.9100387 18.3356243,61.9946823 L18.5,62 L71.5,62 C72.8807119,62 74,60.8807119 74,59.5 C74,58.1192881 72.8807119,57 71.5,57 Z M71.5,33 L18.5,33 C17.1192881,33 16,34.1192881 16,35.5 C16,36.8254834 17.0315359,37.9100387 18.3356243,37.9946823 L18.5,38 L71.5,38 C72.8807119,38 74,36.8807119 74,35.5 C74,34.1192881 72.8807119,33 71.5,33 Z">
                                    </path>
                              </svg>
                        </li>
                        <li>
                              <svg fill="currentColor" viewBox="0 0 90 120">
                                    <path
                                          d="M90,0 L90,120 L11,120 C4.92486775,120 0,115.075132 0,109 L0,11 C0,4.92486775 4.92486775,0 11,0 L90,0 Z M71.5,81 L18.5,81 C17.1192881,81 16,82.1192881 16,83.5 C16,84.8254834 17.0315359,85.9100387 18.3356243,85.9946823 L18.5,86 L71.5,86 C72.8807119,86 74,84.8807119 74,83.5 C74,82.1745166 72.9684641,81.0899613 71.6643757,81.0053177 L71.5,81 Z M71.5,57 L18.5,57 C17.1192881,57 16,58.1192881 16,59.5 C16,60.8254834 17.0315359,61.9100387 18.3356243,61.9946823 L18.5,62 L71.5,62 C72.8807119,62 74,60.8807119 74,59.5 C74,58.1192881 72.8807119,57 71.5,57 Z M71.5,33 L18.5,33 C17.1192881,33 16,34.1192881 16,35.5 C16,36.8254834 17.0315359,37.9100387 18.3356243,37.9946823 L18.5,38 L71.5,38 C72.8807119,38 74,36.8807119 74,35.5 C74,34.1192881 72.8807119,33 71.5,33 Z">
                                    </path>
                              </svg>
                        </li>
                  </ul>
            </div><span>Loading</span>
      </div>
</div>

<!-- Log out modal Css S -->
<div class="modal fade ct_assets_modal" id="ct_logout_modal" tabindex="-1" aria-labelledby="ct_logout_modalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                  <div class="modal-header border-0 pt-0">
                        <button type="button" class="btn-close ct_cloose_btn" data-bs-dismiss="modal"
                              aria-label="Close"><i class="fa-solid fa-xmark"></i></button>
                  </div>
                  <div class="modal-body border-0 ">
                        <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M10.0117 0C4.51172 0 0.0117188 4.5 0.0117188 10C0.0117188 15.5 4.51172 20 10.0117 20C15.5117 20 20.0117 15.5 20.0117 10C20.0117 4.5 15.5117 0 10.0117 0ZM10.0117 15.9C6.81172 15.9 4.11172 13.3 4.11172 10C4.11172 8.3 4.91172 6.6 6.21172 5.5C6.61172 5.2 7.31172 5.2 7.61172 5.6C8.01172 6.1 7.91172 6.7 7.51172 7.1C6.61172 7.8 6.11172 8.9 6.11172 10.1C6.11172 12.2 7.81172 14 10.0117 14C12.2117 14 13.9117 12.3 13.9117 10.1C13.9117 9 13.4117 7.9 12.5117 7.1C12.1117 6.8 12.0117 6.1 12.4117 5.7C12.8117 5.3 13.4117 5.2 13.8117 5.6C15.1117 6.7 15.9117 8.4 15.9117 10.1C15.9117 13.3 13.2117 15.9 10.0117 15.9ZM10.0117 3.5C10.5117 3.5 11.0117 3.9 11.0117 4.5V8.2C11.0117 8.7 10.5117 9.2 10.0117 9.2C9.51172 9.2 9.01172 8.7 9.01172 8.2V4.5C9.01172 3.9 9.51172 3.5 10.0117 3.5Z"
                                    fill="#DC0202"></path>
                        </svg>
                        <h4 class="text-center mb-4 ct_fw_600">Log Out Account</h4>
                        <p class="text-center ct_grey_text">
                              Are you sure, you want to logout? once you logout <br> you need to login again.
                        </p>
                        <div class="modal-footer border-0 justify-content-center">
                              <button type="button" class="ct_purple_btn ct_outline_blue"
                                    data-bs-dismiss="modal">Cancel</button>
                              <a href="login.html" type="button"
                                    class=" bg-danger  ct_purple_btn  justify-content-center"
                                    style="border-color: rgb(220, 53, 69)">Yes Logout!</a>
                        </div>
                        <div>
                        </div>
                  </div>

            </div>
      </div>
</div>