<div class="commission-card card ct_custom_table pt-4 px-3">
    <div class="d-flex align-items-center justify-content-between flex-wrap gap-3">
      <h3 class="ct_fw_600">Set Commission</h3>
      <p class="current-commission">
        <strong>Current Commission:</strong> {{ currentCommission }}%
      </p>
    </div>
    <div class="card-body">
     
      <div class="form-group">
        <label for="commissionInput" class="form-label ct_fw_600">Set New Commission (%)</label>
        <input 
          type="number" 
          id="commissionInput" 
          class="form-control commission-input" 
          [(ngModel)]="newCommission" 
          placeholder="Enter commission value" 
          min="0" 
          max="100" 
        />
      </div>
      <button class="ct_blue_btn mt-4" (click)="updateCommission()">Submit</button>
    </div>
  </div>