/* .msg-body {
    max-height: 400px;  
    overflow-y: auto;  
  } */

.ct_chat_area_scroll {
  height: calc(100vh - 304px);
  max-height: calc(100vh - 304px);
  overflow: auto;
  overflow-x: hidden;
  padding-inline: 5px;
}

.ct_user_modal_list_50 {
  padding: 4px;
  border-bottom: 1px solid #75757536;
}

.ct_close {
  background-image: none;
  position: absolute;
  right: 10px;
  top: 10px;
}

.ct_close:focus {
  box-shadow: unset;
}

.ct_empty_chat_msg img {
  width: 150px;

}

.ct_empty_chat_msg {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.ct_empty_chat_msg img {
  margin-inline: auto;
}

.c_fw_600 {
  font-weight: 600;
}


.preview-container {
  display: flex;
  /* height: 100px; */
  gap: 5px;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.preview {
  /* height: 100px; */
  /* width: 100px; */
  position: relative;
}

.preview .remove {
  position: absolute;
  top: 0;
  right: 0;
  color: #ef1b30;
  cursor: pointer;
}

.preview img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 10px;
}

.sent_image {
  height: 100px;
  width: 100px;
  margin-bottom: 5px;
  border-radius: 10px;
  margin-right: auto;
}

.recived_image {
  height: 100px;
  width: 100px;
  margin-bottom: 5px;
  border-radius: 10px;
  margin-left: auto;
}