<div class="d-flex align-items-center justify-content-between gap-3 flex-wrap">
      <div>
            <h3 class="ct_fs_32 ct_ff_roboto ct_fw_600 mb-3">Customer Support</h3>
            <ul class="d-flex align-items-center gap-3">
                  <li>
                        <h6 class="mb-0">Customer Support<i class="fa-solid fa-angle-right ms-2"></i>
                        </h6>
                  </li>
            </ul>
      </div>
</div>

<section class="message-area">
      <div class="chat-area row">
            <!-- chatlist -->
            <div class=" col-xl-3">


                  <div class="chatlist">
                        <div class="modal-dialog-scrollable">
                              <div class="modal-content">
                                    <div class="chat-header">
                                         <div class="d-flex align-items-center gap-2 justify-content-between flex-wrap">
                                          <h4 class="mb-3 ct_fs_22 ct_fw_700">Chats</h4>
                                          <i  data-bs-toggle="modal"
                                          data-bs-target="#ct_followed_coaches2" class="fa-solid fa-user-plus"></i>
                                         </div>
                                          <div class="msg-search">
                                                <input type="text" class="form-control" id="inlineFormInputGroup"
                                                      placeholder="Search" aria-label="search">
                                                <i class="fa-solid fa-magnifying-glass ct_search_icon_top"></i>
                                          </div>
                                    </div>

                                    <div class="modal-body mt-4">
                                          <!-- chat-list -->
                                          <div class="chat-lists">
                                                <div class="chat-list">
                                                      @for (item of userList; track $index) {
                                                            <a  class="ct_chat_user ct_user_active" (click)="openChat(item.user_id, item.user_name)">
                                                                  <div class="flex-shrink-0 position-relative ct_img_44">
                                                                        <!-- <img class="ct_img_44" src="assets/img/user_1.png"
                                                                              alt="user img"> -->
                                                                              <i class="ct_img_44 fa-solid fa-user"></i>
                                                                        <!-- <span class="active"></span> -->
                                                                  </div>
                                                                  <div class="flex-grow-1">
                                                                        <h3 class="mb-0 ct_fs_14 ct_fw_600 ct_ff_roboto">
                                                                              {{item.user_name}}</h3>
                                                                        <p class="mb-0 ct_fs_12 ct_ff_roboto"
                                                                              style="color: #21212180;">
                                                                              {{item.message}}</p>
                                                                  </div>
                                                                  <div class="ct_mesg_num_1 ms-auto">
                                                                        <span> {{item.count}}</span>
                                                                  </div>
                                                            </a>

                                                      }
                                                   
                                                </div>

                                          </div>
                                          <!-- chat-list -->
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
            <!-- chatlist -->


            <div class=" col-xl-9">
                  <!-- chatbox -->
                  <div class="chatbox " [ngClass]="{'showbox': isChatboxVisible}">
                        <div class="modal-dialog-scrollable">
                              <div class="modal-content">
                                    <div class="msg-head">
                                          <div class="row">
                                                <div class="col-8">
                                                      <div class="d-flex align-items-center">
                                                            <span class="chat-icon"><i
                                                                        class="fa-solid fa-chevron-left"></i></span>
                                                            <div class="flex-shrink-0">
                                                                  <img class="img-fluid" src="assets/img/user_1.png"
                                                                        alt="user img">
                                                            </div>
                                                            <div class="flex-grow-1 ms-3">
                                                                  <h3 class="mb-0 ct_fs_16 ct_ff_roboto ct_fw_600">
                                                                        {{username}}</h3>
                                                                  <p class="mb-0 ct_fs_12 ct_ff_roboto"
                                                                        style="color: #21212180;">
                                                                        Online</p>

                                                            </div>
                                                      </div>
                                                </div>
                                                <div class="col-4">
                                                      <ul class="moreoption">
                                                            <li class="navbar nav-item dropdown">
                                                                  <a class="nav-link dropdown-toggle" href="#"
                                                                        role="button" data-bs-toggle="dropdown"
                                                                        aria-expanded="false"><i
                                                                              class="fa fa-ellipsis-v"
                                                                              aria-hidden="true"></i></a>
                                                                  <ul class="dropdown-menu">
                                                                        <li><a class="dropdown-item" href="#">Delete
                                                                                    Chat</a></li>
                                                                  </ul>
                                                            </li>
                                                      </ul>
                                                </div>
                                          </div>
                                    </div>


                                    <div class="modal-body " #scrollMe [scrollTop]="scrollMe.scrollHeight">
                                          <div class="msg-body "  >
                                                <ul>
                                                    @for (item of chats; track $index) {
                                                      @if(item.sender_id !== item.admin_id){
                                                            <li class="sender">
                                                                  <!-- <img src="assets/img/user_profile.png" alt=""
                                                                        class="ct_img_30"> -->
                                                                  <div>
                                                                        <p>{{item.message}} </p>
                                                                        <span class="time">{{ item.created_at | date: 'dd MMM, hh:mm a' }}</span>


                                                                  </div>
                                                            </li>

                                                      }@else {
                                                            <li class="repaly">
                                                                  <div>
                                                                        <p>{{item.message}}</p>
                                                                        <span class="time">{{ item.created_at | date: 'dd MMM, hh:mm a' }}</span>


                                                                  </div>
                                                                  <!-- <img src="assets/img/user_profile.png" alt=""
                                                                        class="ct_img_30"> -->
                                                            </li>

                                                      }

                                                    }
                                             
                                                      <!-- <li>
                                                            <div class="divider">
                                                                  <h6>Today</h6>
                                                            </div>
                                                      </li>

                                                      <li class="repaly">
                                                            <div>
                                                                  <p>Lorem Ipsum has been the
                                                                        industry's standard dummy text
                                                                        ever since the 1500s,</p>
                                                                  <span class="time">10:20 am</span>
                                                            </div>
                                                            <img src="assets/img/user_profile.png" alt=""
                                                                  class="ct_img_30">
                                                      </li>
                                                      <li class="repaly">
                                                            <div>
                                                                  <p>Lorem Ipsum has been the
                                                                        industry's standard dummy text
                                                                        ever since the 1500s,</p>
                                                                  <span class="time">10:20 am</span>
                                                            </div>
                                                            <img src="assets/img/user_profile.png" alt=""
                                                                  class="ct_img_30">
                                                      </li> -->

                                                </ul>
                                          </div>
                                    </div>


                                    <div class="send-box">
                                          <form  class="position-relative">
                                                <input type="text" class="form-control ct_text_indent_15 w-100"
                                                      aria-label="message…" placeholder="Type message" [(ngModel)]="senderMessage" [ngModelOptions]="{standalone: true}"   (keydown)="onKeyDown($event)">
                                                <div class="d-flex align-items-center ct_send_btn_position">
                                                      <div class="send-btns">
                                                            <div class="attach">
                                                                  <div class="button-wrapper">
                                                                        <span class="label">
                                                                              <i class="fa-solid fa-link"></i>
                                                                        </span><input type="file" name="upload"
                                                                              id="upload" class="upload-box"
                                                                              placeholder="Upload File"
                                                                              aria-label="Upload File">
                                                                  </div>
                                                            </div>
                                                      </div>
                                                      <button type="button" (click)="sendMessage()"><i class="fa fa-paper-plane"
                                                                  aria-hidden="true"></i></button>
                                                </div>
                                          </form>



                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</section>


<div class="modal fade " id="ct_add_user" tabindex="-1" aria-labelledby="ct_add_userLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content  py-5">
                  <!-- <div class="modal-header border-0">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div> -->
                  <div class="modal-body py-0">
                        <div>
                              <h4 class="ct_fs_22 ct_fw_600 ct_ff_roboto mb-4 text-center"> Add Category </h4>

                              <form action="">
                                    <div class="row">
                                          <div class="col-md-12">
                                                <div class="form-group text-start mb-4">
                                                      <label for="" class="ct_ff_roboto mb-2 ct_fw_500">Category
                                                            Name</label>
                                                      <input type="text" class="ct_input form-control ct_input_40"
                                                            placeholder="Category Name">
                                                </div>
                                          </div>
                                    </div>
                              </form>




                        </div>
                        <div class="d-flex align-items-center gap-3 pt-4">
                              <button type="button" class="ct_blue_btn ct_outline_btn_blue  w-50"
                                    data-bs-dismiss="modal">Cancel</button>
                              <button type="button" class="ct_blue_btn   w-50">Update</button>
                        </div>
                  </div>

            </div>
      </div>
</div>



<!-- Log out modal Css S -->
<div class="modal fade ct_assets_modal" id="ct_logout_modal" tabindex="-1" aria-labelledby="ct_logout_modalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                  <div class="modal-header border-0 pt-0">
                        <button type="button" class="btn-close ct_cloose_btn" data-bs-dismiss="modal"
                              aria-label="Close"><i class="fa-solid fa-xmark"></i></button>
                  </div>
                  <div class="modal-body border-0 ">
                        <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M10.0117 0C4.51172 0 0.0117188 4.5 0.0117188 10C0.0117188 15.5 4.51172 20 10.0117 20C15.5117 20 20.0117 15.5 20.0117 10C20.0117 4.5 15.5117 0 10.0117 0ZM10.0117 15.9C6.81172 15.9 4.11172 13.3 4.11172 10C4.11172 8.3 4.91172 6.6 6.21172 5.5C6.61172 5.2 7.31172 5.2 7.61172 5.6C8.01172 6.1 7.91172 6.7 7.51172 7.1C6.61172 7.8 6.11172 8.9 6.11172 10.1C6.11172 12.2 7.81172 14 10.0117 14C12.2117 14 13.9117 12.3 13.9117 10.1C13.9117 9 13.4117 7.9 12.5117 7.1C12.1117 6.8 12.0117 6.1 12.4117 5.7C12.8117 5.3 13.4117 5.2 13.8117 5.6C15.1117 6.7 15.9117 8.4 15.9117 10.1C15.9117 13.3 13.2117 15.9 10.0117 15.9ZM10.0117 3.5C10.5117 3.5 11.0117 3.9 11.0117 4.5V8.2C11.0117 8.7 10.5117 9.2 10.0117 9.2C9.51172 9.2 9.01172 8.7 9.01172 8.2V4.5C9.01172 3.9 9.51172 3.5 10.0117 3.5Z"
                                    fill="#DC0202"></path>
                        </svg>
                        <h4 class="text-center mb-4 ct_fw_600">Log Out Account</h4>
                        <p class="text-center ct_grey_text">
                              Are you sure, you want to logout? once you logout <br> you need to login again.
                        </p>
                        <div class="modal-footer border-0 justify-content-center">
                              <button type="button" class="ct_purple_btn ct_outline_blue"
                                    data-bs-dismiss="modal">Cancel</button>
                              <a href="login.html" type="button"
                                    class=" bg-danger  ct_purple_btn  justify-content-center"
                                    style="border-color: rgb(220, 53, 69)">Yes Logout!</a>
                        </div>
                        <div>
                        </div>
                  </div>

            </div>
      </div>
</div>


<!-- Follow Friend Modal S -->

<div class="modal fade" id="ct_followed_coaches2" tabindex="-1" aria-labelledby="ct_followed_coachesLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0 pt-0 px-0 d-block text-center">
                <h5 class="modal-title text-white ct_fs_15 mx-auto ct_ff_roboto" id="exampleModalLabel">Users
                </h5>
                <button type="button" class="btn-close ct_close" data-bs-dismiss="modal" aria-label="Close"><i
                        class="fa-solid fa-x"></i></button>
            </div>
            <div class="modal-body">
                <div >
                    <input type="text" class="form-control ct_login_input" placeholder="Search..."
                        [(ngModel)]="searchQuery">
                </div>

               

                <div class="ct_add_member_scroll" >
                    <div *ngIf="alluserData?.length === 0" class="text-center mt-4">
                        <p class="ct_fs_15 text-white">No users found</p>
                    </div>
                    <div *ngFor="let items of alluserData;">
                        <div  class="d-flex align-items-center gap-2 mt-4"
                            style="cursor: pointer;" (click)="openChat(items.id, items.name)">
                            <!-- <img [src]="'/assets/img/np_pro.png'"
                                alt="" class="ct_img_62 ct_border_radius_100"> -->
                            <div>
                                <h4 class="ct_ff_roboto ct_fw_600 text-white ct_fs_15 mb-0">
                                    {{items.first_name}} &nbsp;  {{items.last_name}} </h4>
                                <div class="d-flex align-items-center  gap-2 mt-1">
                                    <!-- <img src="../assets/img/star.png" alt="star"> -->
                                    <!-- <span class="ct_orange_text">Accountability</span> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


               
                <button hidden type="button" class="btn btn-secondary" #closeModal
                    data-bs-dismiss="modal">Close</button>
                <!-- <button class="ct_orange_btn ct_grey_btn ct_border_radius_10 w-100 mt-4">Create new team</button> -->
            </div>

        </div>
    </div>
</div>