<div class="d-flex align-items-center justify-content-between gap-3 flex-wrap">
      <div>
            <h3 class="ct_fs_32 ct_ff_roboto ct_fw_600 mb-1">User’s Offers</h3>
            <ul class="d-flex align-items-center gap-3">
                  <li>
                        <h6 class="mb-0">User Managment<i class="fa-solid fa-angle-right ms-2"></i>
                        </h6>
                  </li>
                  <li>
                        <h6 class="mb-0">User’s offers<i class="fa-solid fa-angle-right ms-2"></i>
                        </h6>
                  </li>
                  @if (userId != undefined) {
                  <li>
                        <h6 class="mb-0">{{userOfferData[0]?.seller_name}} offers<i
                                    class="fa-solid fa-angle-right ms-2"></i>
                        </h6>
                  </li>

                  }
            </ul>
      </div>
      <!-- <button class="ct_blue_btn" data-bs-toggle="modal" data-bs-target="#ct_add_offers">Add Items
            +</button> -->
</div>

<div class=" ct_mt_40">
      <div class="card ct_custom_table">
            <p-table #dt [value]="userOfferData" dataKey="id" [rows]="10" [rowHover]="true"
                  [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 25, 50]" [paginator]="true"
                  [globalFilterFields]="[ 'offer_unique_id','title']"
                  [tableStyle]="{ 'min-width': '75rem' ,'background-color': 'transparent', }"
                  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
                  <ng-template pTemplate="caption">
                        <div class="ms-auto">
                              <div class="d-flex  ms-auto mb-3 mt-3 justify-content-end ">
                                    <p-iconField iconPosition="right" class="ml-auto">
                                          <p-inputIcon>
                                                <i class="fa-solid fa-search ct_srch_top_center"></i>
                                          </p-inputIcon>
                                          <input #searchInput pInputText type="text" class="form-control ct_input"
                                                (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                                                placeholder="Search keyword" />
                                    </p-iconField>
                                    <p-button class="px-2 ct_clear_btn12" label="Clear" [outlined]="true"
                                          icon="pi pi-filter-slash" (onClick)="clear(dt)" />

                              </div>
                        </div>
                  </ng-template>
                  <ng-template pTemplate="header">
                        <tr>
                              <th style="width:25%" pSortableColumn="id">S.no <p-sortIcon field="code" /></th>
                              <th pSortableColumn="offer_unique_id">Offer ID

                              </th>
                              <th pSortableColumn="title">Title</th>
                              <th pSortableColumn="is_bid_or_fixed">Auction Type <p-sortIcon field="is_bid_or_fixed" />
                              </th>
                              <th pSortableColumn="status">Status <p-sortIcon field="status" /></th>
                              <th>Start Price (CHF)</th>
                              <th>Buy it now (CHF)</th>
                              <th>Fixed Price (CHF)</th>
                              <th>Start date</th>
                              <th>End Date</th>
                              <th>Seller</th>
                              <th>Action</th>
                        </tr>

                  </ng-template>
                  <ng-template pTemplate="body" let-customer let-i="rowIndex">
                        <tr>
                              <td>
                                    {{i+ 1}}
                              </td>
                              <td>{{customer.offer_unique_id}}</td>
                              <td>{{customer.title}}</td>
                              <!-- <td>{{offer.category_name}}</td>
                              <td>{{offer.product_name}}</td> -->
                              <td>{{customer.is_bid_or_fixed == 1 ? 'Auction' : 'Fixed'}}</td>

                              <td [ngStyle]="{ 'color': customer.status === 'Not Sold' ? 'red' : '' }">
                                    {{ customer.status }}
                              </td>
                              <td>{{customer.is_bid_or_fixed == 1 ? customer.start_price : '-' }}</td>
                              <td>{{customer.is_bid_or_fixed == 1 ? customer.buyto_price : '-'}}</td>
                              <td>{{customer.is_bid_or_fixed == 0 ? customer.fixed_offer_price : '-'}}</td>
                              <td>{{customer.offerStart}}</td>
                              <td>{{ customer.end_date | date :'yyyy-MM-dd HH:mm:ss' : 'UTC'}}</td>

                              <td>{{customer.seller_name}}</td>
                              <!-- <td>
                                    <div class="d-flex align-items-center gap-2">
                                          <a data-bs-toggle="modal" data-bs-target="#ct_update_user"
                                                (click)="onClickUpdate(customer)"
                                                class="ct_edit_btn py-1 ct_border_radius_10"><i
                                                      class="fa-solid fa-pen-to-square text-dark"></i></a>
                                          <a routerLink="/product-list/{{customer.id}}"
                                                title="Add Product type under category"
                                                class="ct_edit_btn py-1 ct_border_radius_10"><i
                                                      class="fas fa-upload"></i>
                                          </a>
                                    </div>
                              </td> -->
                              <td>
                                    <div class="d-flex gap-1">
                                          <button data-bs-toggle="modal" data-bs-target="#ct_add_offers"
                                                class="ct_edit_btn py-1 ct_border_radius_10"
                                                (click)="viewImage(customer.images_id)" title="View Images">
                                                <i class="fa-solid fa-eye text-primary"></i>
                                          </button>
                                          <button class="ct_edit_btn py-1 ct_border_radius_10"
                                                (click)="deleteOffer(customer.id)">
                                                <i class="fa-solid fa-trash text-danger"></i>
                                          </button>

                                    </div>
                              </td>
                        </tr>
                  </ng-template>
                  <ng-template pTemplate="emptymessage">
                        <tr>
                              <td colspan="5">No Offers found.</td>
                        </tr>
                  </ng-template>
            </p-table>
      </div>


</div>


<div class="modal fade " id="ct_add_offers" tabindex="-1" aria-labelledby="ct_add_offersLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content  py-5">
                  <div class="modal-body py-0">
                        <div class="images_gruop">
                              <div class="image_div">
                                    <img [src]="imgUrl + images?.main_image" class="offer_img">
                                    <p class="text-center mt-1 mb-0">Main Image</p>
                              </div>
                              <div *ngIf="images?.bottom_eside" class="image_div">
                                    <img [src]="imgUrl + images?.bottom_eside" class="offer_img">
                                    <p class="text-center mt-1 mb-0">Bottom Side</p>
                              </div>
                              <div *ngIf="images?.top_eside" class="image_div">
                                    <img [src]="imgUrl + images?.top_eside" class="offer_img">
                                    <p class="text-center mt-1 mb-0">Top Side</p>
                              </div>
                              <div *ngIf="images?.tilted_eside" class="image_div">
                                    <img [src]="imgUrl + images?.tilted_eside" class="offer_img">
                                    <p class="text-center mt-1 mb-0">Tilted Side</p>
                              </div>
                              <div *ngIf="images?.defects" class="image_div">
                                    <img [src]="imgUrl + images?.defects" class="offer_img">
                                    <p class="text-center mt-1 mb-0">Defects</p>
                              </div>
                              <div *ngIf="images?.details" class="image_div">
                                    <img [src]="imgUrl + images?.details" class="offer_img">
                                    <p class="text-center mt-1 mb-0">Details</p>
                              </div>
                              <div *ngIf="images?.brand" class="image_div">
                                    <img [src]="imgUrl + images?.brand" class="offer_img">
                                    <p class="text-center mt-1 mb-0">Brand</p>
                              </div>
                              <div *ngIf="images?.dimension" class="image_div">
                                    <img [src]="imgUrl + images?.dimension" class="offer_img">
                                    <p class="text-center mt-1 mb-0">Dimension</p>
                              </div>
                              <div *ngIf="images?.accessories" class="image_div">
                                    <img [src]="imgUrl + images?.accessories" class="offer_img">
                                    <p class="text-center mt-1 mb-0">Accessories</p>
                              </div>
                              <div *ngIf="images?.context" class="image_div">
                                    <img [src]="imgUrl + images?.context" class="offer_img">
                                    <p class="text-center mt-1 mb-0">Context</p>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</div>