/* You can add global styles to this file, and also import other style files */

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";


.error_message {
      font-size: smaller;
      color: red;
      font-weight: 600;
      margin: 3px;
}


.ct_add_member_scroll {
      height: auto;
      max-height: 350px;
      overflow-y: auto;
  }
  
  
  .ct_add_member_scroll::-webkit-scrollbar {
      width: 4px;
  }
  
  
  
  
  
 
  .ct_add_member_scroll::-webkit-scrollbar-thumb {
      background: #888;
  }
  
 
  .ct_add_member_scroll::-webkit-scrollbar-thumb:hover {
      background: #555;
  }

  .ct_srch_top_center{
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
}
button.p-ripple.p-element.p-paginator-page.p-paginator-element{
    width: 30px !important;
    height: 30px !important;
    border-radius: 10px;
}

.p-paginator-rpp-options {
    height: 32px;
    width: 50;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
}   
.p-datatable .p-datatable-header{
    background-color: transparent;
    border: 0px;
}