<div class="ct_side_bar">
      <div class="ct_close_menu">
            <i class="fa-solid fa-xmark"></i>
      </div>
      <div class="ct_logo">
            <img src="assets/img/logo.svg" alt="">
      </div>
      <p class="mb-3 mt-4 ct_clr_48484880">NAVIGATION</p>
      <ul class="ct_side_menu">
            <li>
                  <a routerLink="/dashboard" routerLinkActive="active">
                        <img src="assets/img/dashboard_icon.svg" alt="">
                        Dashboard</a>
            </li>
            <li class="ct_dropdown" [ngClass]="{'ct_drop_show': isDropdownVisible}">
                  <a href="javascripr:void(0)" (click)="toggleDropdown()" routerLinkActive="active"><img
                              src="assets/img/user_icon.svg" alt="">User
                        Management <i class="fa-solid fa-angle-down ms-auto"></i></a>
                  <div class="ct_dropdown_menu mt-3">
                        <ul>
                              <li>
                                    <a routerLink="/user-list" routerLinkActive="active">User list </a>
                              </li>
                              <li>
                                    <a routerLink="/user-offer" routerLinkActive="active">User`s offers </a>
                              </li>
                        </ul>
                  </div>
            </li>
            <li>
                  <a routerLink="/order-management" routerLinkActive="active"><img src="assets/img/orders_icon.svg"
                              alt="">Orders
                        Management</a>
            </li>
            <li>
                  <a routerLink="/liveBidding" routerLinkActive="active"><img src="assets/img/orders_icon.svg"
                              alt="">Live
                        Auction</a>
            </li>
            <li>
                  <a routerLink="/category-management" routerLinkActive="active"><img src="assets/img/category_icon.svg"
                              alt="">Category
                        Management</a>
            </li>
            <li>
                  <a routerLink="/fees-management" routerLinkActive="active"><img src="assets/img/category_icon.svg"
                              alt="">Fees
                        Management</a>
            </li>

            <li>
                  <a routerLink="/custom-support" routerLinkActive="active"><img
                              src="assets/img/customer_support_icon.svg" alt="">Customer
                        Support</a>
            </li>
            <li class="ct_dropdown" [ngClass]="{'ct_drop_show': isDropdownVisible2}">
                  <a href="javascripr:void(0)" (click)="toggleDropdown2()" routerLinkActive="active"><img
                              src="assets/img/user_icon.svg" alt="">Settings<i class="fa-solid fa-angle-down ms-auto"></i></a>
                  <div class="ct_dropdown_menu mt-3">
                        <ul>
                              <li>
                                    <a routerLink="/comission" routerLinkActive="active">Comission</a>
                              </li>
                            
                        </ul>
                  </div>
            </li>

      </ul>
</div>