<div class="ct_side_bar">
      <div class="ct_close_menu">
            <i class="fa-solid fa-xmark"></i>
      </div>
      <div class="ct_logo">
            <img src="assets/img/logo.svg" alt="">
      </div>
      <p class="mb-3 mt-4 ct_clr_48484880">NAVIGATION</p>
      <ul class="ct_side_menu">
            <li>
                  <a routerLink="/dashboard">
                        <img src="assets/img/dashboard_icon.svg" alt="">
                        Dashboard</a>
            </li>
            <li class="ct_dropdown">
                  <a href="javascripr:void(0)" class="active"><img src="assets/img/user_icon.svg" alt="">User
                        Management <i class="fa-solid fa-angle-down ms-auto"></i></a>
                  <div class="ct_dropdown_menu mt-3">
                        <ul>
                              <li>
                                    <a routerLink="/user-list">User list </a>
                              </li>
                              <li>
                                    <a routerLink="/user-offer">User`s offers </a>
                              </li>
                              <li>
                                    <a routerLink="/boosted-offers">Boosted offers</a>
                              </li>
                        </ul>
                  </div>
            </li>
            <li>
                  <a routerLink="/order-management"><img src="assets/img/orders_icon.svg" alt="">Orders
                        Management</a>
            </li>
            <li>
                  <a routerLink="/category-management"><img src="assets/img/category_icon.svg" alt="">Category
                        Management</a>
            </li>

            <li>
                  <a routerLink="/custom-support"><img src="assets/img/customer_support_icon.svg" alt="">Customer
                        Support</a>
            </li>

      </ul>
</div>